@media screen and (max-width: 575px) {
    .heading{
        font-size:28px;
        width: 400px;
        
    }
  }

  @media screen and (max-width: 436px) {
    .heading{
        font-size:22px;
        width: 300px;
        
    }
  }